[server]
coin = litecoin
#WARNING: to run testnet You also have to set addrtype to addrtype_litecoin_testnet in file utils/__init__.py
testnet = no
host = localhost
#report_host = 
stratum_tcp_port = 60001
stratum_http_port = 9081
#stratum_tcp_ssl_port = 60002
#stratum_http_ssl_port = 9082
#report_stratum_tcp_port = 60001
#report_stratum_http_port = 80
#report_stratum_tcp_ssl_port = 60002
#report_stratum_http_ssl_port = 443
#password to control this server:
password = secret
banner = Welcome to LTClectrum!
irc = yes
#irc_nick = <yournickname>
#ssl_certfile = /path/to/electrum-server.crt
#ssl_keyfile = /path/to/electrum-server.key

# default backend is leveldb (pruning server)
backend = leveldb

[leveldb]
path = /path/to/your/database
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 100


# ABE configuration for full servers
# Backends other than level db are deprecated and currently unsupported

# number of requests per single hash
# limit = 1000

# [database]
# type = MySQLdb
# database = electrum
# username = electrum
# password = secret

# [database]
# type = psycopg2
# database = electrum
#
# [database]
# type = sqlite3
# database = electrum.sqlite


[bitcoind]
host = localhost
port = 9332
# user and password from bitcoin.conf
user = user
password = password
